.content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}
.content:hover{
    opacity: 1;
}
.content h1{
    color: orange;
}
.content p{
    color: #fff;
}
.content > *{
    transform: translateY(25px);
    transition: transform 0.6s;
}
.content:hover > *{
    transform: translateY(0px);
}