@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');




@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Inter', sans-serif;
}

.courgette{
    font-family: 'Courgette', cursive;
}
.lato{
    font-family: 'Lato', sans-serif;
}